input(id= 'locComment', placeholder= "What's here?")
input(id= 'locSubmit', type= 'submit')

script(type='text/javascript')
  
  $(document).ready(function(){
    navigator.geolocation.getCurrentPosition(geoHandler);
    
    $('#locSubmit').click(function(){
      $.ajax('/locations', {
        type: 'POST',
        data: {
          location: {
            'lon' : position.coords.longitude, 
            'lat' : position.coords.latitude, 
            'acc' : position.coords.accuracy, 
            'timest' : position.timestamp, 
            'comment' : $('#locComment').val()
            } 
        }
      })
    });