!!!
html
  head
    title= title
    meta charset= utf-8
    link(rel='stylesheet', href='/libs/leaflet/dist/leaflet.css')
    
    // if lte IE 8
      link(rel='stylesheet', href='/libs/leaflet/dist/leaflet.ie.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")  
    script(type='text/javascript', src="/libs/leaflet/dist/leaflet.js")
  
  body!= body