body {
  background-color: #050522;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 800px;
}